@import '../node_modules/foundation-sites/scss/foundation';
* {
  margin: 0;
  padding: 0;
}

body {
  @include flex-grid-row;
  // Display:
  // Display:
  flex-direction: column;
  align-items: center;
}

// CUSTOM HTML TAGS
todocontainer {}

todolistcontainer {}

newtodocontainer {
  input {
    border-radius: 10em;
  }
  .input-group-button {
    background-color: red;
  }
}